.body, html {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    background-color: #d28dfc;

}

.things-list {
    list-style-type: square;
    padding: 0;
}